<div class = "main">
<div class="header">
    <img src="https://thumbs.dreamstime.com/b/checklist-icon-isolated-black-background-simple-vector-logo-162559793.jpg" alt="logo" />
    <p>Task Handler</p>
    <h6>A Task Management Tool</h6>
  </div>
  </div>

<div class="sidebar">
    <a routerLink ="tasks" routerLinkActive = "active"><i class="fa fa-fw fa-home"></i>Dashboard</a>
    <a routerLink ="create-task" routerLinkActive = "active"><i class="fa fa-fw fa-pencil"></i>Assign Task</a>
    <a routerLink ="profile" routerLinkActive = "active"><i class="fa fa-fw fa-user"></i>Profile</a>
</div>


<div class = container>
  <router-outlet></router-outlet>
</div>



